.profile-form-center {
    display: flex;
    justify-content: center;
}
.profile-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-title {
    text-align: center;
}

.profile-full-width {
    width: 100%;
}

.nameField {
    width: 48%;
}

.profile-full-width .mat-form-field + .mat-form-field {
    margin-left: 4%;
}

#proPic {
    visibility: hidden;
}
.profilePic {
    padding-left: 40px;
}

.profileImg {
    margin: 20px;
}

.showPic {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}