<mat-card class="profile-card">
    <div class="upper-container" color="primary">
      <div class="image-container">
        <img src="assets/images/logo.svg" />
      </div>
    </div>
    <div class="lower-container">
      <div>
        <h3><strong>Alaina Wick</strong></h3>
        <h4>Front-end Developer</h4>
      </div>
      <div class="follow">
        <div>
          <h2>Followers</h2> 
          <span><strong>199K</strong></span>
        </div>
        <div>
          <h2>Followings</h2> 
          <span><strong>99K</strong></span>
        </div>
      </div>
      <div>
        <p>Angular Layout also has a huge set of responsive features that enable developers to easily change the UX layout configurations for different display devices. See the our documentation on the Responsive</p>
      </div>
      <div>
        <a mat-stroked-button routerLink="/profile/editprofile" color="primary">
          <mat-icon aria-hidden="false" aria-label="Edit Profile icon">edit</mat-icon>
          Edit profile
        </a>
      </div>
    </div>
</mat-card>

  
  