

<mat-card class="profile-card">
    <div class="upper-container" color="primary">
      <div class="image-container">
        <img src="assets/images/logo.svg" />
      </div>
    </div>
    <div class="lower-container">
      <div>
        <h3><strong>Alaina Wick</strong></h3>
        <h4>Front-end Developer</h4>
      </div>
      <div>
        <p>sodales accumsan ligula. Aenean sed diam tristique, fermentum mi nec, ornare arcu.</p>
      </div>
      <div>
        <a routerLink="/profile/editprofile" class="btn">Edit profile</a>
      </div>
    </div>
</mat-card>

  
  