<mat-card class="post-detail-card">
    <mat-card-header>
        <div mat-card-avatar class="post-detail-header-image"></div>
        <mat-card-title >{{result.response.title}}</mat-card-title>
        <mat-card-subtitle>{{ convertInt(result.response.created_on) | date}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="http://192.168.1.101:8000{{result.response.post_image}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
        {{result.response.content}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>