.post-detail-card {
    max-width: 400px;
    margin-bottom: 20px;
}

.post-detail-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover; */
}

.posts-header-image img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.postedby {
    margin: 7px 0px;
    font-size: 14px;
    font-weight: 500;
}
 
.datetime {
    font-size: 12px;
}