<div *ngFor="let post of PostsData">
    <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <img src="{{post.created_by.profile_picture}}" alt="user profile">
          </div>
          <mat-card-title routerLink="/post/{{post.id}}">{{post.title}}</mat-card-title>
          <mat-card-subtitle>Posted By 
            <a routerLink="/user-profile/{{post.created_by.id}}" color="primary">
              {{post.created_by.first_name}} {{post.created_by.last_name}}
            </a>
          </mat-card-subtitle>
          <mat-card-subtitle class="datetime">{{ convertInt(post.created_on) | date:'medium'}}</mat-card-subtitle>
          
          <div class="dot-flex-container">
            <div class="dot-button-container">
              <button mat-icon-button matTooltip="Action" [matMenuTriggerFor]="action" aria-label="three dot icon">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #action="matMenu" xPosition="before">
                <button mat-menu-item (click)="deletePost(post.id)">Delete</button>
              </mat-menu>
            </div>
          </div>
        </mat-card-header>
        <a routerLink="/post/{{post.id}}">
          <img class="card-image" mat-card-image src="{{post.post_image}}" alt="Photo of a Shiba Inu">
        </a>
        <mat-card-content>
          <p>
            {{post.content | slice:0:60}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <span class="like-count" id="count-{{post.id}}">{{post.likes}}</span>
          <button mat-icon-button color="warn" (click)="likePost(post.id)">
            <mat-icon matSuffix aria-hidden="false" *ngIf="post.isLiked" aria-label="favorite_border icon" id="like-{{post.id}}">
              favorite
            </mat-icon>
            <mat-icon matSuffix aria-hidden="false" *ngIf="!post.isLiked" aria-label="favorite_border icon" id="like-{{post.id}}">
              favorite_border
            </mat-icon>
          </button>
          <!-- <button mat-button>SHARE</button> -->
        </mat-card-actions>
      </mat-card>
    </div>
    
    <div class="create-flex-container" *ngIf="Authguardservice.getToken()">
      <div class="create-button-container">
        <button mat-fab mat-fab-bottom-right color="primary" routerLink="/create-post" *ngIf="Authguardservice.getToken()" aria-label="Create icon button">
          <mat-icon aria-hidden="false" aria-label="create icon">create</mat-icon>
        </button>
      </div>
    </div>