<mat-card class="profile-card">
    <div class="upper-container" color="primary">
      <div class="image-container">
        <img [src]="imgUrl" alt="profile image">
      </div>
    </div>
    <div class="lower-container">
      <div>
        <h3><strong>{{responseData.response.first_name}} {{responseData.response.last_name}}</strong></h3>
        <h4>{{responseData.response.profession}}</h4>
      </div>
      <div class="follow">
        <div>
          <h2>Follower</h2> 
          <span><strong id="follower">{{ responseData.response.follower }}</strong></span>
        </div>
        <div>
          <h2>Following</h2> 
          <span><strong id="following">{{ responseData.response.following }}</strong></span>
        </div>
      </div>
      <div>
        <p>{{responseData.response.biography}}</p>
      </div>
      <div *ngIf="!responseData.response.isFollow">
        <a mat-stroked-button color="primary" (click)="followUser()" id="follow">
          Follow
        </a>
      </div>
      <div *ngIf="responseData.response.isFollow">
        <a mat-stroked-button color="primary" (click)="followUser()" id="unfollow">
          UnFollow
        </a>
      </div>
    </div>
</mat-card>

  
  