.otp-form-center {
    display: flex;
    justify-content: center;
  }
.otp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.form-title {
    text-align: center;
  }
  
.otp-full-width {
    width: 100%;
  }
  